<section class="view">
    <div class="row mx-auto"  id="shadow-5"  id="galleySection">
        <p>gallery-section works!</p>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-title">
                        <h2>Our Sample Creations</h2>
                        <p>I design and develop services for customers of all sizes, specializing in creating stylish, modern websites</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    
                    <mdb-card>
                        <div class="view rgba-white-slight waves-light galleryImgdiv" mdbWavesEffect>
                        <!-- Card img -->
                        <mdb-card-img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F2.bp.blogspot.com%2F_HOCuXB2IC34%2FTK9ISzTcblI%2FAAAAAAAAGoo%2FYsoawxs8pI4%2Fs1600%2F37%2B(www.cute-pictures.blogspot.com).jpg&f=1&nofb=1" alt="Card image cap"></mdb-card-img>
                        <a>
                            <div class="mask"></div>
                        </a>
                        </div>
                    </mdb-card>

                  </div>
                  <div class="col-md-4">
                    <mdb-card>
                        <div class="view rgba-white-slight waves-light galleryImgdiv" mdbWavesEffect>
                        <!-- Card img -->
                        <mdb-card-img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F1.bp.blogspot.com%2F_HOCuXB2IC34%2FTR8mf1Q7YPI%2FAAAAAAAAG04%2FJZ-eyVtSOw4%2Fs1600%2F4%2Bpeaceful_sunset%2B%252528www.cute-pictures.blogspot.com%252529.jpg&f=1&nofb=1" alt="Card image cap"></mdb-card-img>
                        <a>
                            <div class="mask"></div>
                        </a>
                        </div>
                    </mdb-card>
                  </div>
                  <div class="col-md-4">
                    <mdb-card>
                        <div class="view rgba-white-slight waves-light galleryImgdiv" mdbWavesEffect>
                        <!-- Card img -->
                        <mdb-card-img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F1.bp.blogspot.com%2F-t0ePiVHbPEI%2FXhGTuQOwbVI%2FAAAAAAAADK8%2FhedY3oyCNGkkMkkwKUIT5wLtJhxwbej7QCLcBGAsYHQ%2Fw1200-h630-p-k-no-nu%2Fapps.47439.13652946565912101.d82f6d17-6603-4829-a577-132860187d93.jpg&f=1&nofb=1" alt="Card image cap"></mdb-card-img>
                        <a>
                            <div class="mask"></div>
                        </a>
                        </div>
                    </mdb-card>
                  </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                      
                      <mdb-card>
                          <div class="view rgba-white-slight waves-light galleryImgdiv" mdbWavesEffect>
                          <!-- Card img -->
                          <mdb-card-img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F1.bp.blogspot.com%2F-t0ePiVHbPEI%2FXhGTuQOwbVI%2FAAAAAAAADK8%2FhedY3oyCNGkkMkkwKUIT5wLtJhxwbej7QCLcBGAsYHQ%2Fw1200-h630-p-k-no-nu%2Fapps.47439.13652946565912101.d82f6d17-6603-4829-a577-132860187d93.jpg&f=1&nofb=1" alt="Card image cap"></mdb-card-img>
                          <a>
                              <div class="mask"></div>
                          </a>
                          </div>
                      </mdb-card>
  
                    </div>
                    <div class="col-md-4">
                      <mdb-card>
                          <div class="view rgba-white-slight waves-light galleryImgdiv" mdbWavesEffect>
                          <!-- Card img -->
                          <mdb-card-img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F3.bp.blogspot.com%2F-A8s08tWaL-E%2FTifNIqcOURI%2FAAAAAAAAAsM%2FNptHnOXBPzU%2Fs1600%2F1633041139D.jpg&f=1&nofb=1" alt="Card image cap" id="gelleyImages"></mdb-card-img>
                          <a>
                              <div class="mask"></div>
                          </a>
                          </div>
                      </mdb-card>
                    </div>
                    <div class="col-md-4">
                      <mdb-card>
                          <div class="view rgba-white-slight waves-light galleryImgdiv" mdbWavesEffect>
                          <!-- Card img -->
                          <mdb-card-img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F3.bp.blogspot.com%2F_NOdEQKztDvs%2FTPBwbrR6KlI%2FAAAAAAAAE_E%2F7MOQKYieO8o%2Fs1600%2F3D%252BWallpapers%252BCollection%252B28.jpg&f=1&nofb=1" alt="Card image cap"></mdb-card-img>
                          <a>
                              <div class="mask"></div>
                          </a>
                          </div>
                      </mdb-card>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-4">
                      
                      <mdb-card>
                          <div class="view rgba-white-slight waves-light galleryImgdiv" mdbWavesEffect>
                          <!-- Card img -->
                          <mdb-card-img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F3.bp.blogspot.com%2F_7TuiUzBpuWI%2FSJpogFT2QuI%2FAAAAAAAAC1s%2F8zQtUfZ8_TE%2Fw1200-h630-p-k-no-nu%2F27%2Bsunset%2B(www.cute-pictures.blogspot.com).jpg&f=1&nofb=1" alt="Card image cap"></mdb-card-img>
                          <a>
                              <div class="mask"></div>
                          </a>
                          </div>
                      </mdb-card>
  
                    </div>
                    <div class="col-md-4">
                      <mdb-card>
                          <div class="view rgba-white-slight waves-light galleryImgdiv" mdbWavesEffect>
                          <!-- Card img -->
                          <mdb-card-img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.ojdo.de%2Fwp%2Fwp-content%2Fuploads%2F2015%2F04%2Feso0932a-milky-way-panorama.jpg&f=1&nofb=1" alt="Card image cap" width="50%"></mdb-card-img>
                          <a>
                              <div class="mask"></div>
                          </a>
                          </div>
                      </mdb-card>
                    </div>
                    <div class="col-md-4">
                      <mdb-card>
                          <div class="view rgba-white-slight waves-light galleryImgdiv myGalleryImg" mdbWavesEffect>
                          <!-- Card img -->
                          <mdb-card-img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Forig01.deviantart.net%2F41a5%2Ff%2F2011%2F246%2Fc%2F9%2Fdebian_dark_wallpapers_hd_1080_by_malkowitch-d3f5ydf.jpg&f=1&nofb=1" alt="Card image cap"></mdb-card-img>
                          <a>
                              <div class="mask"></div>
                          </a>
                          </div>
                      </mdb-card>
                    </div>
                  </div>

              </div>
        </div>
    </div>
</section>
